/* ROOT */
:root {
  --lightgreenrgb: 175, 255, 175;
  --lightgreen: rgb(var(--lightgreenrgb));
}

/* ALL PROGRAMS */
.program-container {
  position: absolute;
  top: var(--navh);
  padding: 2rem;
}

/* SNAKE */
#snake-body {
  background: var(--lightgreen);
}

.p5Canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tint {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, calc(90/255));
  z-index: -1;
}

.record-container {
  position: relative;
  margin: auto;
  top: calc(var(--navh) + 1rem);
  width: 50vw;
  height: calc(50vh - var(--navh) - 250px - 2rem);
  overflow: hidden;
}

.record {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: green;
}

.record1 {
  font-size: 3rem;
}